{% extends "base.jinja" %}
{% block extracss %}
   <link href="{{ static('css/auth.css') }}" rel="stylesheet" />
{% endblock %}
{% block content %}
  {% include 'header.jinja' %}
  <div class="container">
  <div class="row">
    <div class="span">
       <form class="form sigup" action="" method="POST">
          {%csrf_token%}
            <table class="table table-striped">
                  <thead>
                  <tr>
                      <th>Name</th>
                      <th>Vendor</th>
                      <th>MRP</th>
                      <th>Quantity</th>
                      <th>Batch Date</th>                                          
                      <th>Batch Number</th>
                      <th class="dropdown">Status</th>                                          
                  </tr>
              </thead> 
              <tbody>
                    <tr>
                      <td><input type="text" class="input-box" data-validation="length" data-validation-length="min4" name="name"></td>
                      <td><input type="text" class="input-box" data-validation="length" data-validation-length="min4" name="vendor"></td>
                      <td><input type="number" class="input-box" data-validation="length" data-validation-length="min1" name="mrp"></td>
                      <td><input type="number" class="input-box" data-validation="length" data-validation-length="min1" name="quantity"></td>
                      <td><input type="date" data-date="" data-date-format="DD MMMM YYYY" value="2015-08-09" class="-box" name="batch_date"></td>
                      <td><input type="text" class="input-box" data-validation="length" data-validation-length="min1" name="batch_num"></td>                       
                      <td>                   
                        <div class="dropdown">
                           <label for="password" class="text-white">Status</label><br>
                            <select name="status" style="width: 96px;margin-top: -32px;">
                              <option value="0">PENDING</option>
                              <option value="1">Approved</option>
                            </select>
                        </div>
                    </td>
                    </tr>
              </tbody>
            </table>
            <input type="submit" name="submit" class="btn btn-info btn-md" style="margin-left: 400px;" value="submit">
       </form>  
    </div>
  </div>
</div>
<script src="{{ static('js/jquery-1.11.1.min.js') }}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script>
      $('.log-out').on('click', function(){
      var token = JSON.parse(localStorage.getItem('Token'));
        $.ajax({
          url: "{{url('user.token.remove')}}",
          type: 'GET',
          data: {'token': token},
        })
        .done(function(res) {
          console.log("success");
          localStorage.removeItem('Token');
          localStorage.removeItem('role');
          window.location.href = "{{url('inventory.signin')}}";
        })
        .fail(function() {
          console.log("error");
        })
        .always(function() {
          localStorage.removeItem('Token');
          localStorage.removeItem('role');          
          window.location.href = "{{url('inventory.signin')}}";
          console.log("complete");
        });        
    });

</script>
<script>
          $.validate({
            lang: 'en'
          });
           $(".sigup").submit(function(event) {
                event.preventDefault();
                var token = 'Token ' + JSON.parse(localStorage.getItem('Token'));
                var frm = $('.sigup');
                $.ajax({
                    url: "{{url('api.inventory_views', version = 1)}}",
                    type: 'POST',
                    beforeSend: function(request) {
                    request.setRequestHeader("Authorization", token);
                    },
                    data: frm.serialize(),
                })
                .done(function(res) {
                    window.location.href = "{{url('inventory.products')}}" + "?token=" + JSON.parse(localStorage.getItem('Token'));
                })
                .fail(function(res) {
                    alert('Something went wrong.')
                })
                .always(function(res) {
                });
            });
</script>
<script>
  jQuery(document).ready(function($) {
    var role = JSON.parse(localStorage.getItem('role'));
    if(role == "0"){
      $('.dropdown').hide();
    }
  });
      $('.pdt_list').on('click', function(){
          window.location.href = "{{url('inventory.products')}}" + "?token=" + JSON.parse(localStorage.getItem('Token'));
    });
</script>
{% endblock %}
